<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title> Edit your String</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">StringPlay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
      
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="alert alert-success" role="alert">
        Success <a href="#" class="alert-link">You enter in stringPlay</a>. Give it a click if you like.
      </div>
      <div class='container'>

        <form action='removepunch' method='POST'>
          {% csrf_token %}
          <!--  this becuase django provide csrf(Cross Site Request Forgery) this is to ch
          check the Rquest is made from your system only
          -->
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Enter Your Desire text</label>
              <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 280px;"></textarea>
            </div>
          
          <div class="custom-control custom-switch">
            <input type="checkbox"  name="removepunch" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">removepunch</label>
          </div>
        <div class="custom-control custom-switch">
            <input type="checkbox"  name="capitalize" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">capitalize</label>
          </div>
        <div class="custom-control custom-switch">
            <input type="checkbox"  name="newlineremove" class="custom-control-input" id="customSwitch3">
            <label class="custom-control-label" for="customSwitch3">newlineremove</label>
          </div>
        <div class="custom-control custom-switch">
            <input type="checkbox"  name="spaceremover" class="custom-control-input" id="customSwitch4">
            <label class="custom-control-label" for="customSwitch4">spaceremover</label>
          </div>
        <div class="custom-control custom-switch">
            <input type="checkbox"  name="wordcount" class="custom-control-input" id="customSwitch5">
            <label class="custom-control-label" for="customSwitch5">wordcount</label>
          </div>
       
          <button type="submit" class="btn btn-dark" >Analyse it</button>
       
      </form> 

    </div>
    <!-- Footer -->
    <footer class="page-footer font-small bg-dark" style="bottom:0px;position:absolute;width: 100%;">
  
      <div class="footer-copyright text-center" style="color:blanchedalmond">&copy; 2020 Copyright:
        <a href="#"> StringPlay.in</a>
      </div>
  
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>